<ng-template #success let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body alert alert-success" style="text-align:center">
        Success
    </div>
    <br>
</ng-template>

<ng-template #loginModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div>
            <label>Username or Email</label>
            <input [(ngModel)]="userLogin.userNameNumber" class="form-control" name="user" >        
        </div>
        <br>
        <div>
            <label>Password</label>
            <input type="password" [(ngModel)]="userLogin.password" (keyup.enter)="login()" class="form-control" name="password">
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (keyup.enter)="login()" (click)="login()">Save</button>
    </div>
    <div>
        <ul>
            <li style="color: red;" *ngFor="let error of loginErrors">{{error}} </li>
        </ul>
    </div>
</ng-template>

<ng-template #signUpModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div>
                <label>Username</label>

                <input [(ngModel)]="userName" (focusout)="checkForErrors()" class="form-control" placeholder="" >        
            </div>
            <br>
            <div>
                <label>Usernumber</label>
                <input [(ngModel)]="userNumber" (focusout)="editNumber()"  [maxlength]=4 (keypress)="onlyNumberKey($event)" [disabled]="!manualUserNumber" class="form-control" placeholder=""   > 
            </div>
            <br>
            <div>

                <input type="checkbox" (click)="randomUserNumber()" [(ngModel)]="manualUserNumber" placeholder="" >        
                <label> &nbsp; Choose your own usernumber</label>

            </div>
            <br>
            <div>
                <label>Email</label>
                <input [(ngModel)]="userSignUp.email" (keypress)="checkForErrors()" class="form-control" placeholder="">
            </div>
            <br>
            <div>
                <label>Password</label>
                <input type="password" [(ngModel)]="userSignUp.password" (keypress)="checkForErrors()" class="form-control" placeholder="">
            </div>
            <br>
            <div>
                <label>Repeat password</label>
                <input type="password" [(ngModel)]="passwordRepeat" (focusout)="checkForErrors()" class="form-control" placeholder="">
            </div>
            <br>
    </div>
    <div class="modal-footer" >
        <button type="button" class="btn btn-outline-dark" (keyup.enter)="createUser()" (click)="createUser()">Sign Up</button>
    </div>
    <div>
        <ul>
            <li style="color: red;" *ngFor="let error of signUpErrors">{{error}} </li>
        </ul>
    </div>

</ng-template>

<nav class="navbar-custom topnav" >
    <img src="/assets/images/LogoPlaceHolder2.png" class="header_logo">
    
    <div class="header_navwrap">
        <a [routerLink]="['home']" id="home" class="nav-link" (click)="triggerActive($event)" >Home </a>
        <a [routerLink]="['counter']" id="counter" class="nav-link" (click)="triggerActive($event)">Counter</a>

        <a style="float:right" *ngIf="!isLoggedIn" (click)="openSignUpModal(signUpModal)" class="nav-link" >
            SignUp
        </a>
        <a style="float:right" *ngIf="!isLoggedIn" (click)="openLoginModal(loginModal)" class="nav-link"  >
            Login
        </a>


        <div ngbDropdown>
            <a *ngIf="isLoggedIn" style="float:right" class="nav-link dropdown-toggle"
                 ngbDropdownToggle>{{userLogin.userNameNumber}}</a>
            <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a class="dropdown-item" ngbDropdownItem>My profile</a>
                <a class="dropdown-item" ngbDropdownItem>Settings</a>
                <a class="dropdown-item" ngbDropdownItem (click)="logout()" href="home">Logout</a>
            </div>
        </div>
        <div ngbDropdown>
            <a *ngIf="isLoggedIn" style="float:right" class="nav-link dropdown-toggle"
                ngbDropdownToggle>Blockchain Wallet</a>
            <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a *ngIf="waxWalletName==null" class="dropdown-item" ngbDropdownItem (click)="addWaxWallet()">Add Wax wallet</a>
                <a *ngIf="waxWalletName!=null" class="dropdown-item" ngbDropdownItem >{{waxWalletName}}</a>

                <a class="dropdown-item" ngbDropdownItem>Another Action</a>
                <a class="dropdown-item" ngbDropdownItem>Something else is here</a>
            </div>
        </div>
    </div>
  </nav>
<br>
<br>

<br>

<br>

<br>

  <a class="test"> aaaa</a>
