<ng-template #success let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body alert alert-success" style="text-align:center">
        Success
    </div>
    <br>
</ng-template>

<ng-template #loginModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
        <div>
            <label>Username or Email</label>
            <input [(ngModel)]="userLogin.userName" class="form-control" placeholder="" name="dp" >        
        </div>
        <br>
        <div>
            <label>Password</label>
            <input type="password" [(ngModel)]="userLogin.password" class="form-control" placeholder="" name="dp">
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="login()">Save</button>
    </div>
    <div>
        <ul>
            <li style="color: red;" *ngFor="let error of loginErrors">{{error}} </li>
        </ul>
    </div>
</ng-template>

<ng-template #signUpModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div>
                <label>Username</label>

                <input [(ngModel)]="userSignUp.userName" (focusout)="checkForErrors()" class="form-control" placeholder="" >        
            </div>
            <br>
            <div>
                <label>Usernumber</label>
                <input [(ngModel)]="userSignUp.userNumber" (focusout)="editNumber()"  [maxlength]=4 (keypress)="onlyNumberKey($event)" [disabled]="!manualUserNumber" class="form-control" placeholder=""   > 
            </div>
            <br>
            <div>

                <input type="checkbox" (click)="randomUserNumber()" [(ngModel)]="manualUserNumber" placeholder="" >        
                <label> &nbsp; Choose your own usernumber</label>

            </div>
            <br>
            <div>
                <label>Email</label>
                <input [(ngModel)]="userSignUp.email" (keypress)="checkForErrors()" class="form-control" placeholder="">
            </div>
            <br>
            <div>
                <label>Password</label>
                <input type="password" [(ngModel)]="userSignUp.password" (keypress)="checkForErrors()" class="form-control" placeholder="">
            </div>
            <br>
            <div>
                <label>Repeat password</label>
                <input type="password" [(ngModel)]="passwordRepeat" (focusout)="checkForErrors()" class="form-control" placeholder="">
            </div>
            <br>
    </div>
    <div class="modal-footer" >
        <button type="button" class="btn btn-outline-dark" (click)="createUser()">Sign Up</button>
    </div>
    <div>
        <ul>
            <li style="color: red;" *ngFor="let error of signUpErrors">{{error}} </li>
        </ul>
    </div>

</ng-template>

<nav class="navbar-custom topnav" >
    <img src="/assets/images/LogoPlaceHolder2.png" class="header_logo">
    
    <div class="header_navwrap">
        <a [routerLink]="['home']" id="home" class="nav-link" (click)="triggerActive($event)" >Home </a>
        <a [routerLink]="['counter']" id="counter" class="nav-link" (click)="triggerActive($event)">Counter</a>

        <a style="float:right" *ngIf="!isLoggedIn" (click)="openSignUpModal(signUpModal)" class="nav-link" id="navbarDropdown" aria-haspopup="true" aria-expanded="false">
            SignUp
        </a>
        <a style="float:right" *ngIf="!isLoggedIn" (click)="openLoginModal(loginModal)" class="nav-link"   >
            Login
        </a>
        <a *ngIf="isLoggedIn" style="float:right" class="nav-link dropdown-toggle asdf" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{userLogin.userName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" >Action</a>
            <a class="dropdown-item" >Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" >Something else here</a>
        </div>
    </div>
  </nav>